*{
    margin: 0;
    padding: 0;
}

.hamburger div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    
}
.logo{
    font-family: 'Encode Sans', sans-serif;
    color: rgb(247, 246, 250);
   margin: auto;
   font-size: 32px;
   margin-left: 50px;
}
.hamburger{
    margin: right 5px;
    margin-left: auto;
    padding: 8px 35px;
    cursor: pointer;
}

.pg-1{
    display: flex;
    height: 50px;
}
.pg-2{
    height: 100vh;
    background: url(beach.jpg) no-repeat center center fixed; 
    background-size: cover;
    
}
.l-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80px;
    margin-top: 139px;
    margin-right: 200px;
    color: aliceblue;
    font-family: 'Arvo', serif;
        
}

.sc1{
    display: flex;
    flex-direction: row;
    padding: 74px;
    background-color: rgb(171, 228, 228);
}
.hd1{
    font-size: 30px;
    color: rgb(65, 60, 60);
    font-family: 'Architects Daughter', cursive;
}

.cap1{
    font-family: 'Architects Daughter', cursive;
    font-size: 22px;
    margin: 25px;
    padding: 11px;
    color: rgb(65, 60, 60);
}
.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 12px;
    background-color: rgb(26, 24, 24);
    color: rgb(248, 241, 241);

}